.change-text {
  color: var(--color-blue1);
  margin-top: 10px;
}

.overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 1rem;
  border-radius: 4px;
}
