.search-page {
  padding: 20px;
  margin-top: 10px;   
  margin-left: 150px;  
}

.search-header {
  display: flex;
  align-items: center;
  gap: 20px; 
  margin-bottom: 20px;
  margin-left: -50px; 
}

.back-icon {
  cursor: pointer;
}