.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin: 0;
}
.menu ul {
  width: 300px;
  left: 100%;
  top: 0;
  background: white;
  border-radius: 8px;
  border: 1px #e6ebf5 solid;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  padding: 8px 0;
}
.menu ul ul {
  top: -8px;
}
.menu li {
  position: relative;
}
.menu li a,
.menu li button {
  display: grid;
  grid-template-columns: 30px auto;
  gap: 28px;
  align-items: center;
  padding: 16px 28px;
  text-decoration: none;
}
.menu li a svg,
.menu li button svg {
  justify-self: center;
}
.menu li a p {
  color: var(--color-blue1);
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}
.menu li button p {
  color: var(--color-blue1);
  font-size: 18px;
  line-height: 24px;
  white-space: nowrap;
  text-align: left;
}
.menu li a svg path,
.menu li button svg path {
  fill: var(--color-blue1);
}
.menu li a svg:nth-of-type(2),
.menu li button svg:nth-of-type(2) {
  position: absolute;
  right: 26px;
  fill: var(--color-blue);
}
.menu li > ul {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  z-index: 3;
}

.menu li.open-left > ul {
  left: auto;
  right: 100%;
}

.menu li:hover {
  background: var(--color-blue7);
}
.menu li:hover > a > p .menu li:hover > button > p {
  color: var(--color-blue);
}
.menu li:hover > a > svg,
.menu li:hover > button > svg {
  fill: var(--color-blue);
}
.menu li:hover > a > svg path,
.menu li:hover > button > svg path {
  fill: var(--color-blue);
}
.menu li:hover > ul {
  display: block;
}
