.cohort-list {
  padding-left: 0;
}

.cohort-list-item-email {
  font-size: 0.9em;
  color: #888;
}
.cohort-list-item {
  list-style: none;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.profile-circle {
  position: relative;
  cursor: pointer;
  margin-right: 8px;
}
