.comment-container{
    padding: 1rem;
    border-radius: 8px;
    color: var(--color-blue1);
    font-size: 1rem !important;
    padding-left: 15px !important;
    text-align: left !important;
    max-width: fit-content !important;
    background-color: var(--color-blue5);
}

.comment-details {
  display: grid;
  grid-template-columns: auto 44px;
  column-gap: 20px;
}

.comment-details.single-column {
  grid-template-columns: auto;
}

.edit-tag {
  color: var(--color-blue2);
  font-size: 14px;
  padding-top: 0px !important;
  font-weight: normal;
}
