.post-options-wrapper {
  position: relative;
  cursor: pointer;
}

.post-options-dropdown {
  margin-left: 50px;
  min-width: 220px;   
  max-width: 350px;   
}

.post-options-dropdown ul {
  width: 100%;       
}

.post-options-dropdown li button {
  display: flex;          
  align-items: center;     
  gap: 8px;                
  padding: 8px 12px;       
  cursor: pointer;
  width: 100%;
}

